build --cxxopt='-std=c++14' --host_cxxopt='-std=c++14'
build --cxxopt='-Wall'
build --cxxopt='-fPIC'
build --cxxopt='-Wno-write-strings'
build --cxxopt='-Werror'
build --cxxopt='-Wno-reorder'
build --cxxopt='-Wcast-align'
build --cxxopt='-Wcast-qual'
# issues with googletest and stack-protector
# build --cxxopt='-Wconversion'
build --cxxopt='-Wdisabled-optimization'
build --cxxopt='-Wextra'
# issues with protobuf
# build --cxxopt='-Wfloat-equal'
build --cxxopt='-Wno-stringop-overflow'
build --cxxopt='-Wno-error=suggest-attribute=format'
build --cxxopt='-Wformat=2'
build --cxxopt='-Wformat-nonliteral'
build --cxxopt='-Wformat-security'
build --cxxopt='-Wformat-y2k'
build --cxxopt='-Wimport'
build --cxxopt='-Winit-self'
build --cxxopt='-Winvalid-pch'
build --cxxopt='-Wlong-long'
build --cxxopt='-Wmissing-field-initializers'
build --cxxopt='-Wmissing-format-attribute'
build --cxxopt='-Wno-aggregate-return'
build --cxxopt='-Wno-padded'
build --cxxopt='-Wno-switch-enum'
build --cxxopt='-Wno-unused-parameter'
build --cxxopt='-Wpacked'
build --cxxopt='-Wpointer-arith'
# issues with googletest and stack-protector
# build --cxxopt='-Wstack-protector'
build --cxxopt='-Wstrict-aliasing=3'
build --cxxopt='-Wswitch'
build --cxxopt='-Wswitch-default'
build --cxxopt='-Wunreachable-code'
build --cxxopt='-Wunused'
build --cxxopt='-Wvariadic-macros'
build --cxxopt='-Wno-switch-default'
build --cxxopt='-Wno-long-long'
build --define=enable_gcov=false
build:enable_gcov --define=enable_gcov=true
build:enable_gcov --cxxopt='-g'
build:enable_gcov --cxxopt='-O0'
build:enable_gcov --cxxopt='-ftest-coverage'
build:enable_gcov --cxxopt='-fprofile-arcs'
build:enable_gcov --cxxopt='-fprofile-dir=/sonic/swss'
build:enable_gcov --linkopt='-ftest-coverage'
build:enable_gcov --linkopt='-lgcovpreload'
build:enable_gcov --linkopt='-lgcov'
build --define=asan=false
build:asan --define=asan=true
build:asan --cxxopt=-fsanitize=address
build:asan --linkopt=-fsanitize=address
build --define=tsan=false
build:tsan --define=tsan=true
build:tsan --cxxopt=-fsanitize=thread
build:tsan --linkopt=-fsanitize=thread
build --define=usan=false
build:usan --define=usan=true
build:usan --cxxopt=-fsanitize=undefined
build:usan --linkopt=-fsanitize=undefined
build --define=portsyncd_tests_opts=false
build:portsyncd_tests_opts --define=portsyncd_tests_opts=true
build:portsyncd_tests_opts --linkopt='-Wl,-wrap,if_nameindex'
build:portsyncd_tests_opts --linkopt='-Wl,-wrap,if_freenameindex'
build --experimental_cc_shared_library
